.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 1rem;
  padding: 1rem;
  
}


.xd {
  display: grid;
  grid-template-columns: 250px 250px 250px; /* 3 cột */
  gap: 4.5rem; /* khoảng cách giữa các card */
}
.loader {
 
  margin-top: 60px;
 
}