:root {
  /* Light theme */
  --background-color: #ffffff;
  --foreground-color: #f5f5f5;
  --primary-text-color: #000000;
  --secondary-text-color: #555555;
  --accent-color: #003cff;
  --accent-hover: #0026b3;
}

[data-theme="dark"] {
  /* Dark theme */
  --background-color: rgba(65, 65, 65, 0.95);
  --foreground-color: #5a95ff;
  --primary-text-color: #1877f2;
  --secondary-text-color: #917676;
  --accent-color: #1771f8;
  --accent-hover: #5a95ff;
}

/* Reset + body */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  transition: background-color 0.25s ease, color 0.25s ease;
}

/* Root wrapper */
#root {
  max-width: 1880px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* App container */
.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

/* Hero section */
.hero-section {
  text-align: center;
  padding: 60px 0;
  border-bottom: 1px solid #a94444;
  margin-bottom: 40px;
}

.hero-section h2 {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
  color: var(--primary-text-color);
}

.hero-section p {
  font-size: 18px;
  color: var(--secondary-text-color);
  max-width: 600px;
  margin: 15px auto 30px;
}

/* Search box */
.search-box {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search-box input {
  padding: 12px 20px;
  border: 1px solid #b25959;
  border-radius: 5px;
  width: 300px;
  color:var(--primary-text-color);
}

.search-box button {
  padding: 12px 20px;
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.search-box button:hover {
  background-color: var(--accent-hover);
}

/* Blog layout */
.blog-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  align-items: start;
}

.blog-section {
  padding: 40px 0;
}

.section-title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 40px;
  margin-left:-680px;
  color: var(--primary-text-color);
}

/* Blog grid */
.blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 20px;
  justify-content: start;
}

/* Sidebar */
.featured-sidebar {
  width: 400px;
  padding: 20px;
  background-color: var(--foreground-color);
  box-shadow: 0 2px 5px rgba(46, 35, 35, 0.1);
  border-radius: 8px;
}

/* Tablet */
@media (max-width: 1000px) {
  .blog-layout {
    grid-template-columns: 1fr;
  }
  .blog-grid {
    grid-template-columns: repeat(2, 300px);
    justify-content: center;
  }
  .featured-sidebar {
    margin-top: 40px;
  }
}

/* Mobile */
@media (max-width: 650px) {
  .blog-grid {
    grid-template-columns: 1fr;
  }
  .featured-sidebar {
    margin-top: 30px;
  }
}
